<html>
    <head>
        <title>Django dymovushki blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django dymovushki blog</a></h1>
        </div>
        
        <div>
            <p>published: 21.06.2016, 17:53</p>
            <h2><a href="">Дымовушки своими руками. часть1.</a></h2>
            <p>Вам надо приобрести анальгин и гидроперит продаётся в любой аптеке берём и растираем в порошок. и то и другое в растёртом виде насыпаем в ёмкость, реакция начинается при нагревании полученной смеси (нормальной температуры тела – t 36,6 вполне достаточно, поэтому будьте аккуратны, держа ёмкость в руках, сразу почувствуете как она нагревается). Не стоит проводить эксперименты в помещении, т.к. дым очень плохо выветривается и при вдыхании появляется кашель.</p>
        </div>
        
        <div>
            <p>published: 21.06.2016, 17:58</p>
            <h2><a href="">Дымовушки своими руками. часть2.</a></h2>
            <p>Сделать дымовуху так же можно из таблеток активированного угля, марганцовки, она продается в сухом виде, в пакетиках по 15 гр. и спичек. Лучше брать примерно такую пропорцию: 1 упаковка активированного угля; 2 пакетика марганцовки; спичек примерно 2 маленьких коробка. Берём таблетки активированного угля и растираем в порошок, высыпаем в ёмкость марганцовку и берём спички, снимаем у них серную головку, полученный порошок добавляем в ту же самую ёмкость. Поджигаем содержимое и отходим на 5 м. Эффект: Искры высотой около 2 - 3 м от земли дым и неприятный запах. Из-за содержания марганцовки цвет искр будет фиолетовый или бордовый, так что настоящий фейерверк обеспечен!</p>
        </div>
    </body>
</html>    
                      
